::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    background-color: #3D2E21;
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #EBD9AE;
}


body{
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
}