::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    background-color: #3D2E21;
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #EBD9AE;
}

input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FEFAE0;
    filter: brightness(200%);
}
input[type="email"]::-moz-placeholder { /* Firefox 19+ */
    color: FEFAE0;
    filter: brightness(200%);
}
input[type="email"]:-ms-input-placeholder { /* IE 10+ */
    color: FEFAE0;
    filter: brightness(200%);
}
input[type="email"]:-moz-placeholder { /* Firefox 18- */
    color: FEFAE0;
    filter: brightness(200%);
}

body{
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
}